<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Novo Aluno</title>
</head>
<body>

    <h1>Novo Aluno</h1>

    <form method="post">
        {% csrf_token %}

        <label>Nome:</label>
        <input
            type="text"
            name="nome"
            value="{{ aluno.nome|default:'' }}"
            required
        >

        <br><br>

        <label>Curso:</label>
        <input
            type="text"
            name="curso"
            value="{{ aluno.curso|default:'' }}"
            required
        >

        <br><br>

        <label>Bio:</label>
        <textarea name="bio">{{ aluno.bio|default:'' }}</textarea>

        <br><br>

        <button type="submit">Salvar</button>
    </form>

</body>
</html>